@use './mixins' as *;

html {
  color: var(--color-default);
  //padding: 10px;
  margin: 0;
  //padding: 10px;
  background: var(--background);
  overflow-y: hidden;
  overflow-x: auto;
  min-width: 400px;
}

body {
  color: var(--color-default);
  border-radius: 12px;
  height: 100dvh;
  position: relative;
  font-family: "Segoe UI", apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#app {
  flex: 0 0 100%;
  position: relative;
  background: var(--background);
  //border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: inherit;
}

.header {
  background: var(--foreground);
  width: 100%;
  padding: 8px 10px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  overflow: auto;
  scrollbar-width: thin;

  & > * {
    flex: 1 1 max-content;
  }

  &__add-group {
    height: 30px;
    flex: 0 0 max-content;
    display: flex;
    gap: 10px;

    & > * {
      flex: 0 0 max-content;
    }
  }

  &__add {
    height: inherit;
    padding: 1px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid;
    aspect-ratio: 1;
    transition: all .2s ease;
    color: var(--color-primary);
    position: relative;
    //opacity: .8;

    &:hover,
    {
      //transform: scale(1.2);
      opacity: 1;
      color: var(--background);
      background: var(--color-primary);
      border-color: var(--color-primary);
    }

    &.--active,
    {
      position: relative;
      transform: rotate(45deg);
      z-index: 1000;
      color: var(--color-red);

      &:hover {
        color: var(--background);
        background: var(--color-red);
        border-color: var(--color-red);
      }
    }

    svg {
      height: 100%;
      width: 100%;
      transform: scale(1.05);
    }
  }

  .record-btn {
    height: 35px;
    width: 35px;
    transform: none;
    animation: none !important;
  }


  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    //color: var(--color-light);
    font-weight: 600;
    border-radius: 20px;
    position: relative;
    
    &:before{
      @include beforeBg;
      background: var(--foreground-active);
      opacity: .42;
    }

    &__item {
      cursor: pointer;
      color: var(--color-default);
      display: inline-flex;
      white-space: nowrap;
      position: relative;
      align-items: center;
      justify-content: center;
      padding: 5px 10px 6px;
      height: 33px;
      flex: 50%;
      border-radius: inherit;
      transition: all .2s ease;
      line-height: 1.45;

      span,
      &:after, 
      {
        opacity: .6;
      }

      &[data-count]:not([data-count="0"]) {
        &:after {
          //color: var(--color-light);
          content: attr(data-count);
          margin-left: 5%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: 20px;
          margin-top: -5px;
          font-size: 0.8em;
          line-height: 1;
          padding: 3px;
          z-index: 2;
        }


        &.--blink{
          &:after{
            animation: blink 1s forwards;
            animation-iteration-count: 3;
          }
        }
        
        @keyframes blink {
          0% {opacity: 1;}
          25% {opacity: .5;}
          50% {opacity: 0;}
          75% {opacity: .5;}
          100% {opacity: 1;}
        }
      }

      &:hover {
        color: var(--color-primary);

        span,
        &:after, 
        {
          opacity: 1;
        }
      }

      &.--active,
      {
        pointer-events: none;
        background: var(--foreground-active);
        color: var(--color-primary);
        //border: 1px solid;

        &:before {
          opacity: 1;
          transform: scaleX(1);
        }

        &[data-count]:after {
        }

        span {
          opacity: 1;
        }
      }

      &:hover {
      }
    }
  }

  &__search-btn {
    height: 33px;
    flex: 0 0 max-content;
    aspect-ratio: 1;
    padding: 6px;
    transition: all .2s ease;
    border-radius: 100%;
    margin-left: -3px;
    position: relative;
    opacity: .7;

    svg {
      height: 100%;
      width: 100%;
      transition: transform .2s ease;
    }

    &:hover,
    &.--active,
    {
      opacity: 1;
      background: var(--background);
      color: var(--color-primary);
    }
    
    &.--active{
      svg{
        transform: scale(1.15);
      }
    }

    .icon-xmark {
      width: 16px;
      height: 16px;
      position: absolute;
      z-index: 1;
      right: -5px;
      top: -5px;
      color: var(--color-red);
      padding: 2px;
      background: #fff;
      border-radius: 100%;
      border: 1px solid;
    }
  }
}

main {
  padding: 0 10px;
  flex: 1 1 auto;
  overflow: auto;
  //transition: backdrop-filter 200ms linear;

  @at-root :has(.panel) #{&} {
    //transition: backdrop-filter 400ms linear;
    //backdrop-filter: brightness(0.3);
  }
}


.panel {
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  height: 100%;
  width: 100%;
  z-index: 999;
  background: var(--background);
  animation: fade 200ms ease-out forwards;
  will-change: transform, opacity;
  
  &__close {
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
    padding: 4px;
    border: 2px solid;
    color: var(--color-red);
    border-radius: 100%;
    //transition: transform ease .3s;

    &:hover {
      //transform: scale(1.2);
      color: var(--background);
      background: var(--color-red);
      border-color: var(--color-red);
    }
  }

  &__title {
    font-size: 16px;
    padding: 17px 40px;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    background: var(--foreground);
    margin-bottom: 10px;
    color: var(--color-primary);
  }

  &__body {
    padding: 5px 10px;
    font-size: 12px;
  }

  section {
    background: var(--foreground-active) ;
    
    header {
      border-bottom: 1px solid var(--border-color);
    }
    
  }
}

.search {
  animation: fade 200ms ease-out forwards;
  position: relative;
  padding: 5px 10px;
  margin-top: 15px;
  z-index: 50;

  &:not(.--active) {
    display: none;
  }

  &__calendar-btn {
    position: absolute;
    z-index: 1;
    right: 20px;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 26px;
    width: 26px;
    padding: 3px;
  }

  .icon-search, .icon-close {
    position: absolute;
    z-index: 1;
    left: 17px;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 24px;
    width: 24px;
    padding: 3px;
    pointer-events: none;
  }

  .icon-close {
    cursor: pointer;
    padding: 2px;
    pointer-events: auto;
    color: var(--color-red);
  }

  svg {
    opacity: .7;

    &:hover {
      opacity: 1;
    }
  }

  input {
    width: 100%;
    border-radius: 25px;
    padding: 5px 35px;
  }

  &__date-picker {
    position: absolute;
    top: 100%;
    right: 15px;
  }
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: max-content;
  z-index: 50;
  font-size: 14px;
  font-weight: 600;
  background: #ede4dd;
  padding: 7px 10px;
  user-select: none;
  
  &:before{
    @include beforeBg;
    opacity: .65;
    background: var(--foreground);
  }
  
  & > * {
    position: relative;
    z-index: 1;
  }

  &__settings-btn {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 4px;
    color: var(--color-default);
    opacity: .7;
    
    svg {
      height: 26px;
      aspect-ratio: 1;
      transition: transform ease 1s;
    }
    
    &:hover{
      color: var(--color-primary);
      opacity: 1;
      
      svg{
        transform: rotate(90deg);
      }
    }
  }
}


@keyframes fade {
  0% {
    transform: scale(0.85);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}