* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  color: var(--color-default);
  padding: 10px;
  margin: 0;
  background: hsl(var(--body-bg) / .96);
  min-width: 250px;
  scrollbar-gutter: stable;
}

body {
  background: var(--body-bg);
  border-radius: 12px;
  padding: 15px 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding-bottom: 30px;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

select{
  line-height: 1.1;
}

button{
  cursor: pointer;

  &:disabled {
    opacity: 0.4 !important;
    cursor: not-allowed !important;
  }
}

.w-100{
  width: 100%;
}

.text-center{
  text-align: center;
}

.color-red{
  color: var(--color-red);
}

.color-green{
  color: var(--color-green);
}

$offsets: 0, 5, 10, 15, 20, 25, 30, 35, 40;

@each $offset in $offsets {
  .m {
    &t-#{$offset} {
      margin-top: #{$offset}px !important;
    }

    &b-#{$offset} {
      margin-bottom: #{$offset}px !important;
    }

    &r-#{$offset} {
      margin-right: #{$offset}px !important;
    }

    &l-#{$offset} {
      margin-left: #{$offset}px !important;
    }

    &x-#{$offset} {
      margin-left: #{$offset}px !important;
      margin-right: #{$offset}px !important;
    }

    &y-#{$offset} {
      margin-top: #{$offset}px !important;
      margin-bottom: #{$offset}px !important;
    }
  }

  .p {
    &t-#{$offset} {
      padding-top: #{$offset}px !important;
    }

    &b-#{$offset} {
      padding-bottom: #{$offset}px !important;
    }

    &r-#{$offset} {
      padding-right: #{$offset}px !important;
    }

    &l-#{$offset} {
      padding-left: #{$offset}px !important;
    }

    &x-#{$offset} {
      padding-left: #{$offset}px !important;
      padding-right: #{$offset}px !important;
    }

    &y-#{$offset} {
      padding-top: #{$offset}px !important;
      padding-bottom: #{$offset}px !important;
    }
  }
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.px-none {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.danger-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 12px;
  line-height: 1;
  min-width: 16px;
  min-height: 16px;

  background: transparent;
  color: var(--color-red);
  border: 1px solid currentColor;

  &.filed{
    background: var(--color-red);
    color: #fff;
    border: 1px solid var(--color-red);
  }
}

.form-control {
  display: inline-block;
  padding: 3px 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-default);
  background-color: #fff;
  border: 1px solid var(--border-color);
  //appearance: none;
  border-radius: 5px;
  font-family: inherit;
  min-height: 30px;

  &:focus{
    outline: 0;
    box-shadow: 0 0 0 3px rgba(13, 110, 253, .25);
  }
}

.form-label {
  display: inline-flex;
  flex-direction: column;
  font-size: 13px;
  color: #666;
  line-height: 1;

  input,textarea,select{
    margin-top: 5px;
  }

}

.record-btn {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  background: #758CA3;
  transition: transform .25s ease;
  color: #fff;
  max-height: 100%;

  &#{&}--small{
    height: 35px;
    width: 35px;
    transform: none;
  }

  svg {
    height: 60%;
    aspect-ratio: 1;
    fill: currentColor;
    //opacity: inherit;
  }

  &:disabled{
    cursor: not-allowed;
    opacity: .5;
  }

  &:hover:not(:disabled) {
    transform: scale(1.2);
  }


  @at-root .--recording #{&},
  &.--recording
  {
    animation: pulse 1.5s ease-out infinite;
    color: var(--color-red);
    background: rgb(255, 182, 182);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: .6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes typing {
  0%, 20% {
    content: '...';
  }
  40% {
    content: '.';
  }
  60% {
    content: '..';
  }
  80%, 100% {
    content: '...';
  }
}

@keyframes typing-5dots {
  0% {
    content: '.';
  }
  20% {
    content: '..';
  }
  40% {
    content: '...';
  }
  60% {
    content: '....';
  }
  80%, 100% {
    content: '.....';
  }
}

.reminder-title{
  &__label{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    
    @at-root .--recording #{&}{
      &:after {
        position: absolute;
        bottom: 20px;
        color: var(--color-default);
        opacity: .8;
        line-height: 0;
        content: '.';
        left: 10px;
        z-index: 1;
        font-size: 25px;

        animation: typing 1.2s ease-out infinite;
      }

      svg {
        fill: var(--color-red);
      }
    }
  }

  &__input{
    field-sizing: content;
    resize: vertical;
    //flex: 0 1 calc(100% - 30px);

    flex: 1 1 auto;
    padding-right: 30px;
  }

  &__record {
    cursor: pointer;
    flex: 0 0 max-content;
    margin-left: 5px;
    margin-top: 7px;
    color: #758CA3;
    //color: #ff9f9f;
    position: absolute;
    z-index: 1;
    right: 12px;
    top: 19px;

    transition: transform .25s ease;


    @at-root .--recording #{&},
    &:hover,
    {
      color: var(--color-red);
      transform: scale(1.1);
    }

    svg {
      height: 19px;
      aspect-ratio: 1;
    }
  }
}

.reminder-buttons{
  display: flex;
  justify-content: space-between;
}

.reminder-cancel,
.reminder-reset,
.reminder-save{
  padding: 7px 10px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  transition: transform 0.3s;
  min-width: 120px;

  &:hover:not(:disabled) {
    transform: scale(1.1);
  }

  svg {
    fill: #fff;
    height: 30px;     
  }

  @media(max-width: 350px){
    min-width: 50px;
    width: 48%;
  }
}

.reminder-save{
  background: var(--color-green);
  
  @at-root .--saved #{&}{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    z-index: 5;

    transition: all 0.6s ease;
    //transform: scale(11) translate(11px, -8px);
    opacity: .5;
    pointer-events: none;
    
    svg {
      transform: scale(2.5);
    }

    //svg {
    //  transform: scale(0);
    //  animation: check 1s ease-out;
    //
    //  @keyframes check {
    //    0%{
    //      transform: scale(0);
    //    }
    //    100%{
    //      transform: scale(1);
    //    }
    //  }
    //}
    //opacity: .8;
  }
}

.reminder-reset{
  background: var(--color-red);
  color: #fff;

  svg{
    height: 24px;
  }

  @at-root .--saved #{&}{
    display: none;
  }
}

.reminder-cancel {
  background: var(--border-color);
  color: #fff;
  
  svg{
    height: 24px;
  }

  @at-root .--saved #{&}{
    display: none;
  }
}

.result-section {
  background: #f8f9fa;
  border-radius: 8px;
  padding: 15px;
  border-left: 4px solid var(--color-green);
  position: relative;
}

select {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.panel{
  position: relative;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 30px;
  z-index: 50;
  font-size: 14px;


  svg{
    max-height: 30px;
    width: 30px;
  }
  
  .settings-btn{
    display: flex;
    align-items: center;
    width: max-content;
  }
}