.panel-editing {
  font-size: 13px;
  
  .panel__body{
    scrollbar-gutter: stable;
  }
}

.main-fields {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;

  *:first-child {
    flex: 1 1 auto;
  }
}

.record-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  & > * {
    flex: 0 0 33.3%
  }
}

.record-btn {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  background: #1d5d8e;
  transition: transform .25s ease;
  color: #fff;
  max-height: 100%;

  svg {
    height: 60%;
    aspect-ratio: 1;
    fill: currentColor;
    //opacity: inherit;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  &:hover:not(:disabled) {
    transform: scale(1.2);
  }


  @at-root .--recording #{&},
  &.--recording {
    animation: pulse 1.5s ease-out infinite;
    color: var(--color-red);
    background: rgb(255, 182, 182);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: .6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes typing {
  0%, 20% {
    content: '...';
  }
  40% {
    content: '.';
  }
  60% {
    content: '..';
  }
  80%, 100% {
    content: '...';
  }
}

@keyframes typing-5dots {
  0% {
    content: '.';
  }
  20% {
    content: '..';
  }
  40% {
    content: '...';
  }
  60% {
    content: '....';
  }
  80%, 100% {
    content: '.....';
  }
}

.reminder-title {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;

  .form-label__title {
    @at-root .--recording #{&} {
      &:after {
        color: var(--color-default);
        opacity: .8;
        line-height: 0;
        content: '.';
        left: 10px;
        z-index: 1;
        font-size: 16px;

        animation: typing 1.2s ease-out infinite;
      }

      svg {
        fill: var(--color-red);
      }
    }
  }

  //@at-root .--recording #{&}{
  //  &:after {
  //    position: absolute;
  //    bottom: 20px;
  //    color: var(--color-default);
  //    opacity: .8;
  //    line-height: 0;
  //    content: '.';
  //    left: 10px;
  //    z-index: 1;
  //    font-size: 25px;
  //
  //    animation: typing 1.2s ease-out infinite;
  //  }
  //
  //  svg {
  //    fill: var(--color-red);
  //  }
  //}

  textarea {
    field-sizing: content;
    resize: vertical;
    //flex: 0 1 calc(100% - 30px);

    flex: 1 1 auto;
    padding-right: 30px;
  }
}

.reminder-datetime-wrapper{
  position: relative;

  input:not(:focus) ~ .date-confirm-icon{
    display: none;
  }

  .date-confirm-icon{
    cursor: pointer;
    display: inline-block;
    border-radius: 100%;
    height: 20px;
    padding: 3px;
    fill: var(--color-green);
    position: absolute;
    bottom: 6px;
    right: 38px;
    z-index: 1;
    
    @at-root [data-theme="dark"] #{&}{
      background: rgba(255,255,255, .5);
      
      &:hover{
        background: rgba(255,255,255, .8)
      }
    }
  }
}

.reminder-desc {
  field-sizing: content;
  resize: vertical;
  min-height: 68px;
}

.reminder-more-btn {
  font-size: 13px;
  //font-weight: 500;
  display: inline-flex;
  align-content: center;
  line-height: 1.1;
  gap: 4px;
  padding-left: 2px;
  color: var(--color-primary);

  &:hover {
    //font-weight: 500;
    text-decoration: underline;

    + * {
      //display: block !important;
    }
  }

  svg {
    padding-top: 2px;
    width: 11px;
  }
}

.reminder-buttons {
  display: flex;
  justify-content: space-around;
  margin: 10px auto 0;
  position: sticky;
  bottom: 0;
  padding-bottom: 40px;
  padding-top: 5px;
  pointer-events: none;
  transition: opacity .25s ease;
  gap: 45%;
  
  &.--is-sticky:not(:hover){
    opacity: .6;
  }
  
  &:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    margin: auto;

    background: var(--background);
    opacity: 0.8;
    box-shadow: 0 -4px 14px 7px var(--background);
    //backdrop-filter: blur(1px);
  }

  @at-root html:has(footer:hover) #{&}{
    opacity: 0;
  }

  //@at-root .panel-editing:focus-within #{&}
  //{
  //  &:not(*:hover){
  //    &:before{
  //      opacity: 0;
  //    }
  //    > *{
  //      opacity: .5;
  //    }
  //  }
  //}

  //@at-root .panel-editing:has(:not(.reminder-buttons button:active)) #{&}
  //{
  //  &:not(*:hover){
  //    &:before{
  //      opacity: 0;
  //    }
  //    > *{
  //      opacity: .5;
  //    }
  //  }
  //}
}

.reminder-cancel,
.reminder-reset,
.reminder-save {
  border-radius: 100%;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  width: 70px;
  height: 70px;
  pointer-events: auto;
  opacity: .6;
  position: relative;
  z-index: 1;

  &:hover:not(:disabled),
  &:focus:not(:disabled),
  {
    transform: scale(1.1);
    opacity: 1;
  }

  &:focus:not(:disabled) {
    outline: none;
    box-shadow: 0 0 0 3px var(--foreground);
  }

  svg {
    fill: #fff;
    height: 50%;
  }
}

.reminder-save {
  background: var(--color-green);

  @at-root .--saved #{&} {
    transition: all 0.6s ease;
    ////transform: scale(11) translate(11px, -8px);
    opacity: .5;
    pointer-events: none;
    transform: scale(2.5);
  }

  svg {
    height: 32px;
  }
}

.reminder-cancel {
  //background: var(--color-light);
  background: var(--color-red);
  color: #fff;
  //border: 2px solid ;


  //color: var(--color-red);
  svg {
    //height: 24px;
  }

  @at-root .--saved #{&} {
    visibility: hidden;
  }
}

#input-datetime{
  opacity: 1;
  
  &.--changed{
    animation: blinkDate 1s forwards;
  }
  
  @keyframes blinkDate {
    0%{
      opacity: 1;
    }
    50%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
}

.recurrence{
  font-size: 13px;
  
  &__unit{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 10px;
    
    input{
      width: 90px;
    }
    
    select{
      //flex: 0 1 250px;
      flex: 1 1 auto;
      min-width: max-content;
    }
  }
  
  &__times{
    padding-left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  &__weekdays{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 5px;
  }
  
  &__weekday{
    line-height: 1;
    cursor: pointer;
    min-width: 30px;
    flex: 0 1 calc(100% / 7);
    outline: none;
    
    span{
      display: inline-block;
      text-align: center;
      height: 100%;
      width: 100%;
      border-radius: 5px;
      line-height: 1.2;
      color: var(--color-primary);
      border: 1px solid var(--foreground);
      
      padding: 4px 1px 5px;
      transition: background .25s ease;
      box-shadow: var(--box-shadow);
    }

    &:hover span{
      font-weight: 500;
      background: var(--foreground);
      //border-color: var(--color-primary);
    }
    
    input:checked ~ span{
      border-color: var(--color-primary);
      background: var(--color-primary);
      color: var(--foreground-active);
    }
  }
}