@use './mixins' as *;

.reminders {
  user-select: none;
  --transition-fn: cubic-bezier(.4, 0, .2, 1);
  margin-bottom: 20px;

  &:empty {
    display: none;
  }

  &-day {
    line-height: 1;
    color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 5;
    transition: all .3s ease;
    background: inherit;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: .5px;
    position: sticky;
    top: 0;
    background: var(--background);
    margin: 13px 0 5px -10px;
    width: calc(100% + 20px);
    padding: 0 10px;

    > span {
      display: inline-flex;
      align-items: center;
      padding: 5px 5px 6px;
      transition: opacity .2s linear;

      &:first-child + * {
        opacity: 0;
      }

      &:first-child:hover + * {
        opacity: 1;
      }
    }
  }

  &-item {
    $reminderItem: &;

    border-radius: 10px;
    //overflow: hidden;
    font-size: 14px;
    margin-bottom: 8px;
    padding: 10px;
    position: relative;
    transition: all .3s var(--transition-fn);
    display: flex;
    //flex-wrap: wrap;
    gap: 15px;
    min-height: 50px;
    box-shadow: var(--box-shadow);
    background: var(--foreground-active);

    @keyframes blink-saved {
      0% {
        background: initial;
      }
      50% {
        background: var(--color-green);
      }
      100% {
        background: initial;
      }
    }

    &.--saved {
      //animation: blink-saved 1500ms forwards;
      //animation-iteration-count: 1;
      animation: blink-saved 1500ms forwards;
      animation-iteration-count: 1;
    }

    &.--moving {
      font-size: 0;
      opacity: 0;
    }

    &.--expired {
      color: var(--color-red);
    }

    &.--expired & {
      &__title {
        font-weight: normal;
      }
    }

    &.--soon {
      #{$reminderItem}__day {

        color: var(--color-orange);
      }
    }

    &.--completed {
      #{$reminderItem}__day {
        color: var(--color-green);

        .icon-checks {
          color: inherit;
        }
      }

      #{$reminderItem}__title {
        opacity: .8;
      }
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: var(--box-shadow-hovered);
    }

    &:hover &__actions {
      pointer-events: all;
      opacity: 1;
      z-index: 1;
    }

    &__text-box {
      flex: 1 1 auto;
    }

    &__title {
      line-height: 1.3;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      font-weight: 500;
    }

    &__desc {
      font-size: 11px;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      color: var(--color-light);
      line-height: 1.2;
      margin-top: 6px;

      &:empty {
        display: none;
      }
    }

    &__time {

      border-radius: 20px;
      font-size: 12px;
      color: var(--color-primary);
      //background: var(--foreground);
      font-weight: 500;
      line-height: 1;
      padding: 2px 6px 3px;
      max-width: max-content;
      margin-left: auto;
      position: relative;

      &:before {
        @include beforeBg;
        background: var(--foreground);
        opacity: .6;
      }

      span {
        position: relative;
        z-index: 1;
      }
    }

    &__day {
      display: inline-flex;
      align-items: center;
      font-size: 12px;
      flex: 100%;
      justify-content: end;
      line-height: 1;
      margin-top: 5px;
      gap: 5px;
      white-space: nowrap;
    }

    &__time-box {
      display: inline-flex;
      flex-direction: column;
    }

    &__actions {
      color: var(--color-default);
      cursor: help;
      transition: inherit;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      backdrop-filter: blur(2px);
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      &-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        height: 100%;
        width: 40%;
        margin: 0 auto;
        cursor: default;
      }

      &-fin {
        position: relative;

        #{$reminderItem}__action--complete ~ #{$reminderItem}__action--delete {
          pointer-events: none;
          visibility: hidden;
          position: absolute;
          z-index: -1;
        }

        &:hover #{$reminderItem}__action--delete {
          pointer-events: auto;
          visibility: visible;
          left: 0;
          top: 100%;
          z-index: 1;
        }
      }
    }

    &__action {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      cursor: pointer;
      border-radius: 100%;
      background: var(--foreground-active);
      transition: transform 0.2s ease;
      //box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
      //box-shadow: 0 0 3px var(--color-default);
      box-shadow: 0 0 3px currentColor;
      //box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
      aspect-ratio: 1;
      height: 34px;
      position: relative;
      z-index: 1;

      &:hover {
        transform: scale(1.1);
      }

      &--complete {
        display: inline-flex;
        color: var(--color-green);

        svg {
          width: 25px;
        }
      }

      &--edit {
        color: var(--color-primary);
        aspect-ratio: 1;

        svg {
          width: 18px;
        }
      }

      &--delete {
        background: var(--color-red);
        color: #fff;
        aspect-ratio: 1;
        box-shadow: 0 0 0 1px var(--color-red);

        svg {
          height: 20px;
        }
      }
    }
  }

  &__empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    text-align: center;

    b {
      font-size: 16px;
      font-weight: 600;
    }

    .logo {
      filter: grayscale(1);
      opacity: .5;
    }

    &-create {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      aspect-ratio: 1;
      font-weight: 500;
      border: 1px solid;
      border-radius: 100%;
      padding: 10px;
      background: var(--color-primary);
      color: var(--foreground-active);
      transition: all 0.2s ease;

      &.--clicked {
        position: fixed;
        top: 10px;
        padding: 0;
        left: 10px;
        margin: 0 !important;
        //transform: scale(.9);
        border: 0;

        svg {
          width: 32px;
          height: 32px;
        }
      }

      &:hover {
        transform: scale(1.15);
      }
    }

    &-reset {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 2px;
      font-size: 14px;
      font-weight: 500;
      border: 1px solid;
      color: var(--color-primary);
      border-radius: 20px;
      padding: 6px 19px 6px 15px;

      &:hover {
        background: var(--color-primary);
        color: var(--foreground-active)
      }
    }
  }

}