.tabs {
  display: flex;
  justify-content: center;
  gap: 12px;
  color: var(--color-input);
  padding: 5px;
  margin-left: -10px;
  width: calc(100% + 20px);
  position: sticky;
  top: var(--sticky-menu-height, 0);
  left: 0;
  background: #fff;
  z-index: 99;
  //border-radius: 15px;

  &.sticky { 
    //работает только при top:0 иначе скрипт переделывать во vue
    
    //border-radius: 0;
    //border-top-left-radius: 0;
    //border-top-right-radius: 0;
    //box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.2);
    //box-shadow: 0 0px 0px 15px #fff;
  }


  &__left{
    margin-right: auto;
    position: relative;
  }

  &__right{
    margin-left: auto;
  }


  .v-date-picker{
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 100;
  }
}

.tab {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 15px;

  &:has([data-count="0"]){
    //возможно не стоит блокировать, а то будут думать что не работает
    //pointer-events: none;
  }
  

  &.dynamic-counter{
    height: 100%;
    position: relative;

    [data-count] {
      &:after {
        opacity: 0;
        right: 0;
        position: absolute;
        pointer-events: none;
      }
    }

    //&:hover [data-count],
    input:checked + [data-count]
    {
      &:after{
        pointer-events: auto;
        opacity: 1;
        position: static;
        transition: opacity .1s linear;
      }
    }
  }
  
  &--add {
    margin-right: auto;
    @at-root .tabs:not(.sticky) #{&} {
      display: none;
    }
  }

  &--up {
    margin-left: auto;

    @at-root .tabs:not(.sticky) #{&} {
      display: none;
    }
  }

  &--calendar {
    color: var(--color-light);
    width: max-content;
    aspect-ratio: 1;
    padding: 5px;
    //position: absolute;
    left: 8px;
    position: relative;
    
    svg{
      width: 25px;
    }
    
    &[data-selected]:not([data-selected=""]){
      color: rgb(102, 179, 255);
      display: block;
      text-align: center;
      padding: 0;
      margin-bottom: -5px;
      margin-top: 5px;

      &:after{
        display: block;
        line-height: 1;
        content: attr(data-selected);
        //position: absolute;
        //left: 0;
        //top: 100%;
      }
    }
  }
  
  &--clear-filter{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    line-height: 1;
    color: var(--color-red);
    margin-left: 10px;
    position: absolute;
    right: -17px;
    z-index: 2;
    top: -5px;
    border-radius: 100%;
    border: 1px solid;
    
    &:hover{
      background: var(--color-red);
      color: #fff;
    }
    
    svg {
      height: 10px;
      width: 10px;
    }
  }

  span {
    line-height: 1;
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    padding: 7px 12px 8px;
    background-color: #fff;
    border-radius: inherit;
    color: rgb(102, 179, 255);
    border: 1px solid rgba(102, 179, 255, 0.2);
    outline: 0;
    gap: 5px;
    user-select: none;
    box-shadow: none;
    transition: 120ms ease-in;
    min-height: 35px;

    &:hover {
      box-shadow: 0 0 3px;
    }

    svg{
      margin-bottom: -1px;
    }
    
    &[data-count] {
      &.secondary:after{
        background: transparent;
        color: #758CA3;
      }
      
      &.danger{
        color: var(--color-red);
        border-color: currentColor;
        
        &:after{
          background: var(--color-red);
          border-color: transparent;
          color: #fff;
        }
      }
      
      &:after {
        content: attr(data-count);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background: #758CA3;
        border: 1px solid #758CA3;
        font-size: 0.8em;
        line-height: 1;
        color: #fff;
        min-width: 18px;
        min-height: 18px;
        padding: 3px;
      }
    }
  }


  input {
    display: none;

    &:checked + span {
      border-color: rgba(102, 179, 255, 0.5);
      background-color: rgba(0, 115, 230, 0.2);
      color: #758CA3;
    }
  }
}