:root{
  --color-default: #333;
  //--color-primary: #ff5c21;
  //--color-primary: rgba(255, 92, 33, 0.8);
  //--color-primary: #b06b5b;
  //--color-primary: #fa6b11;
  --color-primary: rgb(158, 87, 87);
  //--color-secondary: #b06b5b;
  
  --color-red: #eb5757;
  --color-green: #67b279;
  --color-light: #999;
  --border-color: #bcbcbc;

  --background: #fefefe;
  --foreground: #e7d5cf;
  --foreground-active: #eee4de;
}

[data-theme="dark"]{
}

//@media (prefers-color-scheme: dark){
//}