:root{
  --color-default: #434343;
  --color-default-deep: #333;
  --color-primary: #1d5d8e;
  --color-red: #db5461;
  --color-green: #67b279;
  --color-light: #a1a1a1;
  --color-orange: #ff8500;
  --background: #eff3f5;
  --foreground: #c1dbed;
  --foreground-active: #ffffff;
  --border-color: rgba(29 93 142 / .4);
  --box-shadow: 0 1px 4px 1px rgb(0 0 0 / .06);
  --box-shadow-hovered: 0 2px 4px 1px rgb(0 0 0 / .25);
  --input-bg: #fff;

  --tippy-background-color: #1d5d8e;
  --tippy-text-color: #ffffff;
}

[data-theme="dark"]{
  --color-default: #d2d2d2;
  --color-default-deep: #d2d2d2;
  --color-primary: #d8d5d3;
  --color-red: #db5461;
  //--color-green: #27695b;
  --color-green: #27695b;
  --color-light: #c6c6c6;
  --color-orange: #ff8500;
  --background: #2b3039;
  --foreground: #101a32b0;
  --foreground-active: #7171717a;
  --border-color: rgb(143 143 143 / 40%);
  --box-shadow: 0 1px 4px 1px rgb(0 0 0 / .06);
  --box-shadow-hovered: 0 2px 4px 1px rgb(0 0 0 / .25);
  --input-bg: #383c47;
}